Assets/Textures/Cubemaps/vr_screenshot_01.cubemap[[:space:]] filter=lfs diff=lfs merge=lfs -text
vr_screenshot_01.cubemap filter=lfs diff=lfs merge=lfs -text
*vr_screenshot_01.cubemap filter=lfs diff=lfs merge=lfs -text
